node_modules
.DS_Store
.env
dist
build
coverage
*.log
*.tmp
*.swp
.idea/
.vscode/
*.iml
*.suo
*.bak
*.orig
*.patch
*.rej
*.sublime-project
*.sublime-workspace
*.tmproj
*.tm_properties
*.yml
*.yaml
*.lock
*.pid
*.seed
*.pid.lock
*.log